h1{
    background: linear-gradient(to right, #28a745, #149ec0);
    text-align: center;
    height: 100px;
    background-attachment: fixed;
    font-size: 45px;
    margin: 0px;
    padding-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
h3{
    display: flex;
    background: linear-gradient(to right, #28a745, #149ec0);
    padding: 25px ;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    left: -111px;
    transition: left 1s;
    color: white;
}
header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;

}
h3:hover{
    background-color:#8790da;
    left: 0px;
}

body{
    background-color: #f7f7f7;;
    margin: 0px;
    overflow-x: hidden;
    
} 

 a{
    color: white;
    text-decoration: none;
} 

.slider-container {
    position: relative;
    max-width: 600px;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 10px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transform: translateY(-50%);
    z-index: 1; 
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

#copyright {
  color: #fff;
}
footer{
    bottom: 0;
    text-align: center;
    position: relative;
    background-color: black;
    width: 100%;
    font-family: white;
    height: 60px;
    padding-top: 10px;
}
.copy{
    color: white;
}
.main{
    width: 60%;
    background-color: white;
    font-family: Verdana, Tahoma, sans-serif;
    box-shadow: 0px 8px 16px #149ec0;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 25px;
    border-radius: 10px;
    margin-left: 20%;
    transition: 0.3s;
}
strong{
    font-size: 20px;
}
p{
    margin-left: 15% ;
    margin-right: 15% ;
}
.main:hover{
    transform: translateY(-10px);
}